html {

    margin: 0;

    padding: 0;
}
.img-circle{
    border:3px solid white
    border-radius:50%
}
.section{
    background-color:#fff;
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;

}


body {

    font-family: 'Handlee', cursive;

    font-size: 13pt;

    background-color:#5C3737;

    padding: 0px;

    margin-left: auto;

    margin-right: auto;

    width: 70%;

   }

#header img {

    display: block;

    width: 80px;

    height: 80px;

    margin: auto;

}



#header p {

    font-size: 25pt;

    color: #3b464c;

    padding-top: 5px;

    margin: 0;

    font-weight: bold;

    text-align: center;

}
